.checkbox-input {
  display: flex;
  align-items: center;
  gap: calc(var(--half-spacing) / 2);
  font: var(--sub-label);
  color: var(--accent-primary);
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & svg {
    width: 16px;
    height: auto;

    & path {
      fill: var(--accent-primary);
    }
  }
}
