:root {
  --background-primary: #ffffff;
  --background-secondary: rgba(255, 255, 255, 0.5);
  --accent-primary: #004a91;
  --accent-secondary: rgba(23, 83, 139, 0.3);
  --text-primary: #272830;
  --text-secondary: #ededef;
  --yellow: #dcac00;
  --green: #1fe08f;
  --shadow: 0px 5px 100px rgba(50, 50, 71, 0.01), 0px 5px 60px rgba(50, 50, 71, 0.06);
  --blur: blur(40px);

  /* Headings Font Styles */
  --main-heading: 700 clamp(1.5rem, 2rem, 3rem) 'CenturyGothic', sans-serif;
  --sub-heading: 700 clamp(1rem, 1.25rem, 2rem) 'CenturyGothic', sans-serif;
  /* Titles Font Styles */
  --main-title: 700 clamp(1rem, 1.25rem, 1.5rem) 'CenturyGothic', sans-serif;
  --sub-title: 700 clamp(0.8rem, 1rem, 1.25rem) 'CenturyGothic', sans-serif;
  /* Labels Font Styles */
  --main-label: 700 clamp(0.8rem, 1rem, 1.25rem) 'CenturyGothic', sans-serif;
  --sub-label: 700 clamp(0.6rem, 0.8rem, 1rem) 'CenturyGothic', sans-serif;
  /* Texts Font Styles */
  --main-text: 400 clamp(0.8rem, 1rem, 1.25rem) 'CenturyGothic', sans-serif;
  --sub-text: 400 clamp(0.7rem, 0.8rem, 1rem) 'CenturyGothic', sans-serif;

  /* Spacing Units */
  --spacing: 1.5rem;
  --double-spacing: 3rem;
  --half-spacing: 0.75rem;
}
