@font-face {
  font-family: 'CenturyGothic';
  src: url('./../public/assets/fonts/CenturyGothic/Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./../public/assets/fonts/CenturyGothic/Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
